In [1]:
import pandas as pd

f500 = pd.read_csv('f500.csv')
f500.head(10)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325

In [2]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB

In [3]:
rank_change = f500['previous_rank'] - f500['rank']
rank_change

0        0
1        0
2        1
3       -1
4        3
      ...
495   -496
496    -70
497    -61
498    -32
499   -500
Length: 500, dtype: int64

In [4]:
rank_change.max()

226

In [5]:
rank_change.min()

-500

In [6]:
rank = f500['rank']
rank

0        1
1        2
2        3
3        4
4        5
      ...
495    496
496    497
497    498
498    499
499    500
Name: rank, Length: 500, dtype: int64

In [8]:
rank_desc = rank.describe()
rank_desc

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64

In [11]:
f500['previous_rank'].value_counts().loc[0]

33

In [12]:
f500.describe(include=['O']) #to get object columns

,company,ceo,industry,sector,country,hq_location,website
count,500,500,500,500,500,500,500
unique,500,500,58,21,34,235,500
top,AT&T,Richard D. Fairbank,Banks: Commercial and Savings,Financials,USA,"Beijing, China",http://www.vale.com
freq,1,1,51,118,132,56,1

In [13]:
f500.loc['Dow Chemical','ceo'] = 'Jim Fitterling'

In [14]:
motor_bool = f500['industry'] == 'Motor Vehicles and Parts'
motor_countries = f500.loc[motor_bool,'country']
motor_countries

4            Japan
5          Germany
16         Germany
17             USA
20             USA
28           Japan
40           China
43           Japan
51         Germany
67           China
75         Germany
77     South Korea
124          China
136          China
139         France
156         France
208    South Korea
212        Germany
235          Japan
237          China
246          India
262        Germany
278          China
289         Canada
300         Sweden
322    South Korea
323          Japan
342          China
351          Japan
352          Japan
366          Japan
372          Japan
419          Japan
465         France
Name: country, dtype: object

In [15]:
import numpy as np
prev_rank_before = f500['previous_rank'].value_counts(dropna=False).head()
prev_rank_before

0.0      33
240.0     1
451.0     1
269.0     1
24.0      1
Name: previous_rank, dtype: int64

In [16]:
rank_bool = f500['previous_rank']==0
f500.loc[rank_bool,'previous_rank'] = np.nan
prev_rank_after = f500['previous_rank'].value_counts(dropna=False).head()
prev_rank_after

NaN      34
240.0     1
451.0     1
269.0     1
24.0      1
Name: previous_rank, dtype: int64

In [17]:
f500['rank_change'] = f500['previous_rank'] - f500['rank']
rank_change_desc = f500['rank_change'].describe()
f500['rank_change'].min()

-199.0

In [18]:
industry_usa = f500['industry'][f500['country']=='USA'].value_counts().head(2)
industry_usa

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    7
Name: industry, dtype: int64

In [19]:
f500['sector'][f500['country']=='China'].value_counts().head()

Financials                    25
Energy                        22
Wholesalers                    9
Technology                     8
Engineering & Construction     8
Name: sector, dtype: int64

In this mission, we learned:  

How to select data from pandas objects using boolean arrays  
How to assign data using labels and boolean arrays.  
How to create new columns in pandas.  
Many new methods to make data analysis easier in pandas.