In [1]:
from csv import reader

file = open('potus_visitors_2015.csv')
fh = reader(file)
potus = list(fh)
potus = potus[1:]

In [2]:
import datetime as dt

ibm_founded = dt.datetime(1911,6,16,0,0)
ibm_founded

datetime.datetime(1911, 6, 16, 0, 0)

In [3]:
man_on_moon = dt.datetime(1969,7,20,20,17)
man_on_moon

datetime.datetime(1969, 7, 20, 20, 17)

In [4]:
date_format = "%m/%d/%y %H:%M"

for row in potus:
    x = row[2]
    date = dt.datetime.strptime(x,date_format)
    row[2] = date
row[2]

datetime.datetime(2015, 12, 18, 16, 30)

In [5]:
visitors_per_month = {}

for row in potus:
    start_date = row[2]
    date_format = "%B, %Y"
    start_date = dt.datetime.strftime(start_date,date_format)
    visitors_per_month[start_date] = visitors_per_month.get(start_date,0)+1
    
visitors_per_month

{'January, 2015': 1248,
 'February, 2015': 2165,
 'March, 2015': 2262,
 'April, 2015': 4996,
 'May, 2015': 3013,
 'June, 2015': 7743,
 'July, 2015': 2930,
 'August, 2015': 1350,
 'September, 2015': 4416,
 'October, 2015': 3669,
 'November, 2015': 1133,
 'December, 2015': 13029}

In [7]:
appt_times = []

for row in potus:
    time = row[2]
    time = time.time()
    appt_times.append(time)
    
appt_times[:5]

[datetime.time(9, 30),
 datetime.time(9, 30),
 datetime.time(9, 30),
 datetime.time(9, 30),
 datetime.time(9, 30)]

In [8]:
min_time = min(appt_times)
max_time = max(appt_times)

print('min_time:',min_time)
print('max_time:',max_time)

min_time: 06:00:00
max_time: 21:30:00

In [9]:
for row in potus:
    end_date = row[3]
    end_date = dt.datetime.strptime(end_date, "%m/%d/%y %H:%M")
    row[3] = end_date
    
appt_lengths = {}

for row in potus:
    start_date = row[2]
    end_date = row[3]
    length = end_date - start_date
    appt_lengths[length] = appt_lengths.get(length,0)+1
    
min_length = min(appt_lengths)
max_length = max(appt_lengths)

print('Min length:',min_length)
print('Max length:', max_length)

Min length: 2:29:00
Max length: 16 days, 12:59:00

In this mission, we learned how to use the datetime module to work with date and time data. If you'd like some more practice, you can extend the work we did with this data set by:

Thinking about the maximum and minimum appointment time values, and exploring the data to explain why these values are larger than you might expect.
Find the visitor who spent the most amount of time at the White House.
Finding who visited the White House the most each month.